{% extends 'main/base.html' %}

{% block title %} New User Registeration {% endblock%}

{% block content %}

    <div class="wrapper">
        <div class="form-box login">
            {%if msg%}
            <div class="alert alert-secondary text-center pb-2 pt-2 rounded-4 text-light" style=" width: 400px; background-color:rgba(214, 62, 62, 0.479) ; border: 2px solid rgb(222, 56, 56); font-size: 20px;" role="alert">
                {{msg}}
            </div>
            {%endif%}
            <h2>Register</h2>
            <form action="{% url 'accounts:register_view' %}" method="post" >
                {% csrf_token %}
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" name="first_name"/>
                    <label>First Name</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" name="last_name" />
                    <label>Last Name</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">person</span></span>
                    <input type="text" name="username" />
                    <label>User Name</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">mail</span></span>
                    <input type="email" name="email" />
                    <label> Email</label>
                </div>
                <div class=" input-box">
                    <span class="icon"><span class="material-symbols-outlined">lock</span></span>
                    <input type="password" name="password"  />  
                    <label> Password</label>
                </div>
                <input type="submit" value="Register" class="btn"/>
                <div class="login-register">
                    <p>register as specialist?<a href="{% url 'accounts:specialist_register_view' %}" class="register-link" style="color: blue;">register</a></p>
                </div>
    

            </form>

        </div>
    </div>
    
{% endblock %}