
{% extends 'main/base.html' %}

{% block title %} New User Registeration {% endblock%}

{% block content %}

        <h2>Register</h2>
        <div class="row">
            <div class="col">
    
                <form action="{% url 'accounts:specialist_register_view' %}" enctype="multipart/form-data"  method="post" >
                    {% csrf_token %}
                    <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 justify-content-between"> 
                      
                        <input type="text" name="first_name" class="form-control mt-2" placeholder="first name" />
                        <input type="text" name="last_name" class="form-control mt-2" placeholder="last name" />
                        <input type="text" name="username" class="form-control mt-2" placeholder="username" />
                        <input type="email" name="email" class="form-control mt-2" placeholder="you@gmail.com" />
                        <input type="password" name="password" class="form-control mt-2" placeholder="password" />
                        <input type="text" name="major" class="form-control mt-2" placeholder="Your major" />
                        <input type="file" name="specialist_image" class="form-control mt-2" placeholder="Your image">
                        <input type="text" name="city" class="form-control mt-2" placeholder="Your city" />
                        <select name="gender" class="form-select">
                            {% for value, title in SpecialistProfile.gender_choices %}
                                <option value="{{value}}" {% if gender_choices.gender == value %} selected {% endif%}>{{title}}</option>
                            {% endfor %}
                        </select>
                        <input type="text"name="phone_number" class="form-control mt-2" placeholder=" phone number " />
                        
              
                        <input type="submit" value="Register" class="btn btn-primary mt-4" />
                    </div>
    
                </form>
    
            </div>
        </div>

        {% endblock %}
