{% extends 'main/base.html' %}

{% block title %} Add Games Digital {% endblock %}


{% block content %}

    <div class="add-form">

        <div class="form-box ">
            <h2>Adding a Game</h2>

            <form  action="{% url 'games:add_game_apps_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %} 
                <div class="input-box ">
                    <input type="text" name="game_name" class="form-control" />
                    <label>Game Name: </label>
                </div>

                <div class="text-decoration  ">
                    <label>Description: </label>
                    <textarea name="game_description" class="form-control"></textarea>
                </div>

                <div class="input-box ">
                    <input type="url" name="game_url_appstore" class="form-control"></textarea> 
                    <label>game link App Store: </label>
                </div>

                <div class="input-box ">
                    <input type="url" name="game_play_store" class="form-control"></textarea> 
                    <label>game link Play Store: </label>

                </div>

                <div class="input-box ">
                    <input type="file" name="game_image" class="form-control mt-2"/>
                    <label>Choose Image: </label>
                </div>

                <input type="submit" value="Add game" class="btn btn-primary"/>

            </form>

        </div>

    </div>

{% endblock %}