{% extends 'main/base.html' %}

{% block title %} Add Toys {% endblock %}


{% block content %}

     <div class="add-form">

        <div class="form-box ">
            <h2>Adding a Toy</h2>

            <form  action="{% url 'games:add_toy_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %} 
                <div class="input-box ">
                    <input type="text" name="game_name" class="form-control" />
                    <label>Toys Name: </label>
                </div>
                
                <div class="text-decoration  ">
                    <label>Description: </label>
                    <textarea name="game_description" class="form-control"></textarea>
                </div>

                <div class="input-box ">
                    <input type="url" name="game_url" class="form-control"></textarea> 
                    <label>Toys link: </label>
                </div>

                <div class="input-box ">
                    <input type="file" name="game_image" class="form-control mt-2"/>
                    <label>Choose Image: </label>
                </div>


                <input type="submit" value="Add Toys" class="btn btn-primary"/>

            </form>

        </div>

    </div>

{% endblock %}