{% extends 'main/base.html' %}

{% block title %}  {% endblock %}


{% block content %}


<div class="row pt-5 pb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Games</h2>
    </div>
    {% if request.user.is_admin %}    
            <div class=" d-flex justify-content-end ">   
                <a href="{% url 'games:digital_game_update_view' game.id %}" class="btn btn-warning mt-5 w-50 justify-content-end ">Update</a>
                <button type="button" class="btn btn-danger w-50 mt-5 ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal-{{game.id}}" >Delete</button>
            </div>
            {% endif %}  

    {% for game in games %}
    <div class="col-4 mt-4">
        <div class="d-flex flex-column gap-3 border border-1 shadow rounded-4 p-4 mt-1  h-100 justify-content-between">
            <h6 class="rounded-pill p-2 bg-success text-white align-self-start ">game</h6>
            <img src="{{ game.game_image.url }}" class="rounded-4 object-fit-cover border border-1 book-poster" />
            <h3>{{ game.game_name }}</h3>
            <h3>{{ game.game_description }}</h3>
            <a href="{{game.game_play_store}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google-play" viewBox="0 0 16 16">
                <path d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96 2.694-1.586Zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055l7.294-4.295ZM1 13.396V2.603L6.846 8 1 13.396ZM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27Z"/>
              </svg></a>
              <a href="{{game.game_play_store}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google-play" viewBox="0 0 16 16">
                <path d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96 2.694-1.586Zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055l7.294-4.295ZM1 13.396V2.603L6.846 8 1 13.396ZM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27Z"/>
              </svg></a>
              <a href="{% url 'games:detail_game_view' user.id %}" class="btn btn-primary">more</a>
        </div>
    </div>
                
    <a href="{% url 'games:detail_game_view' user.id %}" class="d-flex justify-content-between text-decoration-none">
        <h5>more</h5>
        <span class="material-symbols-outlined"> arrow_forward</span>
    </a>


    {% endfor %}
    <div class="modal fade" id="deleteModal-{{game.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <span class="fw-bold">{{game.game_name}}</span> ? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'games:digital_games_delete_view' game.id %}"  class="btn btn-danger">Yes, Delete!</a>
            </div>
           
        </div>
    </div>
</div>
</div>

{% endblock %}