{% extends 'main/base.html' %}

{% block title %} Details for book {{ book.title }} {% endblock %}

{% block content %}


    <div class="card-body text-light text-center">
            <img src="{{ game.images.url }}" width="50% " class="rounded-4 " />
            <h1>{{ game.game_name }}</h1>
            <h6>{{ game.game_description }}</h6>
            <div class="p-4">

                <h5>To comment, Please <a href="{% url 'account:login_view' %}">sign in</a> , or <a href="#">sign up</a> </h5>
            </div>

        </div>
    </div>
</div>




{% endblock %}