{% extends 'main/base.html' %}

{% block title %} Family Journeys {% endblock %}

{% block content %}

<div class="b-example-divider"></div>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Through Families Lens: A Visual Journey</h1>
      <p class="lead text-body-secondary">in this page you will see a lot of journeys contains happy memories from families with autisim children, click on the post and sail!</p>
    </div>
  </div>
</section>


<div class="row">
    <div class="column">
    <a href="https://instagram.com/ashlyns_autism_journey?igshid=MzRlODBiNWFlZA==">
    <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-51-removebg-preview.png?alt=media&token=84795ccf-3e79-41fc-827a-33b86bbb48a8">
    </a>

     <a href="https://instagram.com/5l__84?igshid=MzRlODBiNWFlZA=="> 
    <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-50-removebg-preview.png?alt=media&token=cb783939-696b-4ca4-b886-de7b382b8e4f">
    </a>   

    <a href="https://instagram.com/ivy_graces_autism_journey?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-48-removebg-preview.png?alt=media&token=1365005b-918a-4a40-bf36-a53d7ef81b71">
    </a>


</div>
 
  <div class="column"> 

    <a href="https://instagram.com/autism_planet_bh?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-47-removebg-preview.png?alt=media&token=47785824-34c2-45c8-8f32-89a1a10c4bf9">
        </a>
    
    <a href="https://instagram.com/thehappyspectrum?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-46-removebg-preview.png?alt=media&token=4c072bf8-57a3-4d6f-9696-70d304694bc5">
        </a> 

    <a href="https://instagram.com/jensons_autism_journey?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-45-removebg-preview.png?alt=media&token=01668fa3-0295-4565-a42c-9512e370aed0">
        </a>                     

</div>
<div class="column"> 

    <a href="https://instagram.com/millers_autism_journey?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-44-removebg-preview.png?alt=media&token=2f034b2d-eaff-41a7-b677-53efbec02a92">
    </a>

    <a href="https://instagram.com/flappy_chappy_fred?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-43-removebg-preview%20(1).png?alt=media&token=cafaf6f2-275e-4139-b35b-39023f03d068">
    </a> 

    <a href="https://instagram.com/addies_autism_journey_?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-42-removebg-preview.png?alt=media&token=2ee80beb-2828-46cd-811c-46ff543bec00">
    </a> 
</div>
<div class="column"> 


    <a href="https://instagram.com/our_autism_journey_lcm_?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-41-removebg-preview.png?alt=media&token=04988ffd-dee6-4008-819f-febe27e82ae9">
    </a>
<a href="https://instagram.com/autism_journey_16?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-40-removebg-preview.png?alt=media&token=5c4b25b1-a7b3-4142-a4a9-3f7167e9af4d">
    </a>    
    
    <a href="https://instagram.com/mylittleausome?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-38-removebg-preview.png?alt=media&token=1255eccc-1700-4770-9bc9-c5f51cc15188">
    </a> 
</div>


{% endblock %}