{% extends 'main/base.html' %}

{% block title %} Family Journeys {% endblock %}

{% block content %}


<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="container">
    <div class="timeline-content">
        <h1 class="title1 text-center"> Welcome to a page filled with journeys and stories </h1>
        <br>
        <br>
        <br>
        <div class="container">
        <h5 class="description1 "> this page offer an intimate glimpse into the lives of families who have children with autism.<br> These heartfelt accounts will not only shed light on the resilience and strength of parents, siblings, and, most importantly, the individuals with autism themselves but also provide a platform for understanding, empathy, and support.<br> click on the pictures to explore these poignant stories that celebrate the beauty and complexities of living with autism, fostering a greater sense of compassion and unity within our community. </h5>
      </div>
  
        <br>
        <br>
        <br>
        <br>
    </div>
    </div>
  </section>


<div class="row">
    <div class="column">
    <a href="https://instagram.com/ashlyns_autism_journey?igshid=MzRlODBiNWFlZA== " target="_blank">
    <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-51-removebg-preview.png?alt=media&token=84795ccf-3e79-41fc-827a-33b86bbb48a8" style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px; margin: 20px;">
    </a>

     <a href="https://instagram.com/5l__84?igshid=MzRlODBiNWFlZA==" target="_blank"> 
    <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-50-removebg-preview.png?alt=media&token=cb783939-696b-4ca4-b886-de7b382b8e4f"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a>   

    <a href="https://instagram.com/ivy_graces_autism_journey?igshid=MzRlODBiNWFlZA=="> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-48-removebg-preview.png?alt=media&token=1365005b-918a-4a40-bf36-a53d7ef81b71" style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a>


</div>
 
  <div class="column"> 

    <a href="https://instagram.com/autism_planet_bh?igshid=MzRlODBiNWFlZA==" target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-47-removebg-preview.png?alt=media&token=47785824-34c2-45c8-8f32-89a1a10c4bf9"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
        </a>
    
    <a href="https://instagram.com/thehappyspectrum?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-46-removebg-preview.png?alt=media&token=4c072bf8-57a3-4d6f-9696-70d304694bc5"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
        </a> 

    <a href="https://instagram.com/jensons_autism_journey?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-45-removebg-preview.png?alt=media&token=01668fa3-0295-4565-a42c-9512e370aed0"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
        </a>                     

</div>
<div class="column"> 

    <a href="https://instagram.com/millers_autism_journey?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-44-removebg-preview.png?alt=media&token=2f034b2d-eaff-41a7-b677-53efbec02a92"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a>

    <a href="https://instagram.com/flappy_chappy_fred?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-43-removebg-preview%20(1).png?alt=media&token=cafaf6f2-275e-4139-b35b-39023f03d068"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a> 

    <a href="https://instagram.com/addies_autism_journey_?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-42-removebg-preview.png?alt=media&token=2ee80beb-2828-46cd-811c-46ff543bec00"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a> 
</div>
<div class="column"> 


    <a href="https://instagram.com/our_autism_journey_lcm_?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-41-removebg-preview.png?alt=media&token=04988ffd-dee6-4008-819f-febe27e82ae9"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a>
<a href="https://instagram.com/autism_journey_16?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-40-removebg-preview.png?alt=media&token=5c4b25b1-a7b3-4142-a4a9-3f7167e9af4d"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a>    
    
    <a href="https://instagram.com/mylittleausome?igshid=MzRlODBiNWFlZA=="target="_blank"> 
        <img src="https://firebasestorage.googleapis.com/v0/b/final-2a797.appspot.com/o/photo_2023-09-11_14-02-38-removebg-preview.png?alt=media&token=1255eccc-1700-4770-9bc9-c5f51cc15188"style="  box-shadow: 0 0 10px #eb7024; border-radius: 50px;margin: 20px;">
    </a> 
</div>

<style>
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-image:linear-gradient(rgba(179, 175, 175, 0), rgba(0,0,0,9)), url('/static/images/autism.jpg');
        background-size: cover;
        background-repeat:no-repeat;
        background-position:  center;
    }


        .timeline-content .title{
        color: #af7549;
        font-family: "Times New Roman", Times, serif;
    }
     .description1{
        color: #ad6532;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }


    .title1{

        color: #cf752f;
        font-family: "Times New Roman", Times, serif;

    }
</style>
{% endblock %}