{% extends 'main/base.html' %}


<title>{% block title %} How to start {% endblock %}</title>





{% block content %}


        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="container">
            <div class="timeline-content">
                <h1 class="title1 text-center"> How to start taking care of an autistic child </h1>

                <br>
                <br>
                <br>
                <br>
            </div>
            </div>
        </section>



    
    <div class="container">
        <div class="main-timeline">
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                            <span class="year mt-2">1</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Consult a Professional</h5>
                                        <p class="description">
                                            If your child has been diagnosed with autism spectrum consult a Professional It's crucial to have the child evaluated by a healthcare professional or specializes in autism to developing a treatment strategy.</p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                    <span class="year mt-2">2</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Self-Care for Caregivers</h5>
                                        <p class="description">
                                            Taking care of a child with autism can be demanding. Make sure to prioritize self-care, seek support from friends and family, and consider joining support groups for parents of children with autism. Patience and empathy are key when working with these children. 
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                            <span class="year mt-2">3</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Keep Learning:</h5>
                                        <p class="description">
                                            Stay updated on the latest research and therapies related to autism. This will help you adapt and provide the best possible support as your child grows and develops
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
        
                                <!-- start experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                <span class="year mt-2">4</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Create a Structured Routine</h5>
                                        <p class="description">
                                            Children with autism often thrive in structured environments with consistent routines.
                                        </p>
                                    </div>
                                </div>
                                <!-- end experience section-->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                <span class="year mt-2">5</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Social Skills Training</h5>
                                        <p class="description">
                                            Autism often involves challenges with social interaction. Incorporate social skills training into their daily routine.  teaching them how to express their feelings
                                        </p>
                                    </div>
                                </div>
                                <!---->

                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                <span class="year mt-2">6</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Behavioral Interventions</h5>
                                        <p class="description">
                                            Applied Behavior Analysis (ABA) therapy is a commonly used approach to address challenging behaviors and teach new skills to children with autism. Consult with a trained ABA therapist for guidance.
                                        </p>
                                    </div>
                                </div>
<!---->
                                <div class="timeline">
                                    <div class="icon"></div>
                                    <div class="date-content">
                                        <div class="date-outer">
                                            <span class="date">
                                                <span class="year mt-2">7</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content">
                                        <h5 class="title">Nutritional Therapy </h5>
                                        <p class="description">
                                            Autism child might avoid eating foods because they associate them with stomach pain or discomfort. It is important that parents and caregivers work with a nutrition specialist  to design a meal plan for a person with autism, to make sure the child is still getting all the nutrients he or she needs to grow into a healthy adult
                                        </p>
                                    </div>
                                </div>
        
                            </div>
        </div>
        </div>




        <style> 
            body{
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background-image:linear-gradient(rgba(179, 175, 175, 0), rgba(0,0,0,9)), url('/static/images/autism.jpg');
                background-size: cover;
                background-repeat:no-repeat;
                background-position:  center;
        
        }
        
        .main-timeline {
        position: relative
        }
        
        .main-timeline:before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background: #c6c6c6;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0
        }
        
        .main-timeline .timeline {
        margin-bottom: 40px;
        position: relative
        }
        
        .main-timeline .timeline:after {
        content: "";
        display: block;
        clear: both
        }
        
        .main-timeline .icon {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0
        }
        
        .main-timeline .icon:before,
        .main-timeline .icon:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.33s ease-out 0s
        }
        
        .main-timeline .icon:before {
        background: #fff;
        border: 2px solid #eb7024;
        left: -3px
        }
        
        .main-timeline .icon:after {
        border: 2px solid #c6c6c6;
        left: 3px
        }
        
        .main-timeline .timeline:hover .icon:before {
        left: 3px
        }
        
        .main-timeline .timeline:hover .icon:after {
        left: -3px
        }
        
        .main-timeline .date-content {
        width: 50%;
        float: left;
        margin-top: 22px;
        position: relative
        }
        
        .main-timeline .date-content:before {
        content: "";
        width: 36.5%;
        height: 2px;
        background: #c6c6c6;
        margin: auto 0;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0
        }
        
        .main-timeline .date-outer {
        width: 125px;
        height: 125px;
        font-size: 16px;
        text-align: center;
        margin: auto;
        z-index: 1
        }
        
        .main-timeline .date-outer:before,
        .main-timeline .date-outer:after {
        content: "";
        width: 125px;
        height: 125px;
        margin: 0 auto;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.33s ease-out 0s
        }
        
        .main-timeline .date-outer:before {
        background: #fff;
        border: 2px solid #eb7024;
        left: -6px
        }
        
        .main-timeline .date-outer:after {
        border: 2px solid #c6c6c6;
        left: 6px
        }
        
        .main-timeline .timeline:hover .date-outer:before {
        left: 6px
        }
        
        .main-timeline .timeline:hover .date-outer:after {
        left: -6px
        }
        
        .main-timeline .date {
        width: 100%;
        margin: auto;
        position: absolute;
        top: 27%;
        left: 0
        }
        
        .main-timeline .month {
        font-size: 18px;
        font-weight: 700
        }
        
        .main-timeline .year {
        display: block;
        font-size: 30px;
        font-weight: 700;
        color: #916543;
        line-height: 36px
        }
        
        .main-timeline .timeline-content {
        width: 50%;
        padding: 20px 0 20px 50px;
        float: right
        }
        
        .main-timeline .title {
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        margin: 0 0 15px 0
        }
        
        .main-timeline .description {
        margin-bottom: 0
        }
        
        .main-timeline .timeline:nth-child(2n) .date-content {
        float: right
        }
        
        .main-timeline .timeline:nth-child(2n) .date-content:before {
        left: 10px
        }
        
        .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 20px 50px 20px 0;
        text-align: right
        }
        
        @media only screen and (max-width: 991px) {
        .main-timeline .date-content {
            margin-top: 35px
        }
        .main-timeline .date-content:before {
            width: 22.5%
        }
        .main-timeline .timeline-content {
            padding: 10px 0 10px 30px
        }
        .main-timeline .title {
            font-size: 17px
        }
        .main-timeline .timeline:nth-child(2n) .timeline-content {
            padding: 10px 30px 10px 0
        }
        }
        
        @media only screen and (max-width: 767px) {
        .main-timeline:before {
            margin: 0;
            left: 7px
        }
        .main-timeline .timeline {
            margin-bottom: 20px
        }
        .main-timeline .timeline:last-child {
            margin-bottom: 0
        }
        .main-timeline .icon {
            margin: auto 0
        }
        .main-timeline .date-content {
            width: 95%;
            float: right;
            margin-top: 0
        }
        .main-timeline .date-content:before {
            display: none
        }
        .main-timeline .date-outer {
            width: 110px;
            height: 110px
        }
        .main-timeline .date-outer:before,
        .main-timeline .date-outer:after {
            width: 110px;
            height: 110px
        }
        .main-timeline .date {
            top: 30%
        }
        .main-timeline .year {
            font-size: 24px
        }
        .main-timeline .timeline-content,
        .main-timeline .timeline:nth-child(2n) .timeline-content {
            width: 95%;
            text-align: center;
            padding: 10px 0
        }
        .main-timeline .title {
            margin-bottom: 10px;
            color: #916543;
        }
        
        }
        .timeline-content .title{
            color: #916543;
            font-family: "Times New Roman", Times, serif;
        }
        .timeline-content .description{
            color: #5a4231;
            font-family: "Times New Roman", Times, serif;
        }
        
        
        .title1{
        
            color: #cf752f;
            font-family: "Times New Roman", Times, serif;
        
        }
                           
                </style>












{% endblock %}