{% extends 'main/base.html' %}

{% block title %} Center details {% endblock %}

{% block content %}

<style>
    .btn:hover{
        background-color: aquamarine;
    }


</style>

<style>
    a{
        text-decoration: none;
    }
</style>

<div class="container pt-5 p-4 border border-1 bor " style="background-color:rgba(243, 237, 232, 0.627);"> 
    <div class="row">
        <div class="col-4">
            
            <img src="{{ center.image.url }}" class=" rounded-4 w-100 h-50 object-fit-cover" /> 
            {% if request.user.is_superuser %}
            <a class="btn  mt-4 mb-4" style="background-color: rgba(211, 97, 44, 0.907); color: white;" href="{% url 'centers:center_employee_view' center.id %}" role="button">Add employee</a>
            {% endif %}

            {%if request.user.is_authenticated and not request.user.is_superuser %}
            <div class="mb-4">
                <button style="background-color: rgba(211, 97, 44, 0.907);color: white;" type="button" class=" mt-4 button is" onclick="myFunction()">Request tour</button>
            </div>
                <div id="demo" style="display:none;">
                    <form action="{% url 'centers:center_detail_view' center.id %}" method="post" id="request_form" >
                        {% csrf_token %}
    
                        <label>Date:</label>
                        <input type="date" name="date" id="date"/><br>
                        
                        <label>Times:</label>
                    
                        <input type="hidden" id="selected_time" name="selected_time" value="">
                    
                        <div class="buttons is">
                        {% for value, title in RequestTour.time_choices %}
                            <button  data-bs-toggle="modal" data-bs-target="#request_tour" value="{{ value }}" id="button_{{ value }}"class="time_selected button is" type="button"
                            onclick="selectTime('{{ value }}')">{{ title }}</button>
                        {% endfor %}
                    </form>
                </div>
            </div>
    
            <div class="modal fade" tabindex="-1" id="request_tour">
                <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Booking Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>Booking Details</h1>
                <h6> Name: {{user.first_name}} {{user.last_name}}</h6>
                <h6> Email: {{user.email}}</h6>
                <h6> Date:
                <span id="result"  placeholder="Text Entry." disabled="disabled"></span>
            </h6>
                <h6> Time:
                <span id="timeresult"  placeholder="Text Entry." disabled="disabled"></span>
                <span>am</span>
            </h6>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn " style="background-color: rgb(221, 71, 38); color: white;" data-bs-dismiss="modal">Cancel</button>
              <button  onclick="submit_form()" class="btn" style="background-color:  rgba(211, 97, 44, 0.907);color: white;">confirm</button>
            </div>
          </div>
        </div>
      </div>
      {% elif not request.user.is_superuser%}
      <h5 class="mt-4">To book tour in center , Please <a class="bottom " style="color: rgba(211, 97, 44, 0.907);"  href="{% url 'accounts:login_view' %}"> <b>log in </b> </a> , or <a  style="color: rgba(211, 97, 44, 0.907);" class="bottom" href="{% url 'accounts:register_view' %}"> <b>sign in </b></a> </h5>
      {%endif %}
    </div>
        <div class="col">
            <h2 style="color: rgba(211, 97, 44, 0.907);">{{ center.centerName }}</h2>
            <p> <span> <h4 style="color: rgba(211, 97, 44, 0.907);"> Center Description</h4>  </span> {{ center.description }}</p>
            <p><span> <h4 style="color: rgba(211, 97, 44, 0.907);"> Center Content</h4>  </span>{{center.content}}</p>
        </div>
    </div>
</div>





<div class="container pt-5 border border-1 p-4" style="background-color:rgba(243, 237, 232, 0.627);">
    <div class="row">
        <div class="col">
            <h3 style="color: rgba(211, 97, 44, 0.907);"> Our Team </h3>
            <div class="row">
                {% for employee in employees %}
                <img class="rounded-circle" src="{{ employee.employee_image.url }}"  style="width: 150px" class="rounded-4 object-fit-cover" /> 
                {% endfor %}
              
            </div>
        </div>
    </div>
</div>



<div class="container pt-4 border border-1 p-4" style="background-color:rgba(243, 237, 232, 0.627);">
    <div class="row">
        <div class="col-5">
            <h2 style="color: rgba(211, 97, 44, 0.907);"> Reviews{% for key, value in avg.items %}
                ({{value|floatformat:1}})
                {% endfor %}</h2>
            {% for review in reviews %}
            <div class="d-flex flex-column gap-1 border border-1 border-l shadow rounded p-4 mt-3">
                <h4>{{review.user.first_name}} {{review.user.last_name}}</h4>
                <h6>{{ review.content }}</h6>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="container pt-4 border border-1 p-4" style="background-color:rgba(243, 237, 232, 0.627);">
    <div class="row mt-4">
      
        <div class="col-4">
            <h2 class="mb-2" style="color: rgba(211, 97, 44, 0.907);"> Write your review</h2>
            {%if request.user.is_authenticated%}
            <form action="{% url 'centers:center_detail_view' center.id %}" method="post"  enctype="multipart/form-data" >
                {% csrf_token %}
                <textarea  class="form-control mt-2" name="content"  placeholder="content"></textarea>

                <label class="mt-2"> Rating </label>
                <select name="rating" class="form-select">
                    {% for value, title in Review.rating_choices %}
                        <option value="{{value}}">{{title}}</option>
                    {% endfor %}
                </select>
                <input style="background-color: rgba(211, 97, 44, 0.907); color: white;" class="btn mt-4" type="submit" value="Add Review" />
            </form>
            {% else %}
            <h5 class="mt-4 mb-4">To share your opinion about center , Please <a style="color: rgb(211, 123, 35);" class="bottom "  href="{% url 'accounts:login_view' %}" > <b>log in </b> </a> , or <a style="color: rgb(211, 123, 35);"  class="bottom" href="{% url 'accounts:register_view' %}"> <b>sign in </b></a> </h5>
            {% endif %}
        </div>
       
    </div>
</div>
  
  
  

<div class="container pt-4 border border-1 p-4" style="background-color:rgba(243, 237, 232, 0.627);">
    <h2 style="color: rgba(211, 97, 44, 0.907);">Location of center</h2>
    <div class="google-map mt-4">
        <iframe src={{center.location}} class="border border-2 shadow " width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>





    
    
    <script type="text/javascript">
    

    function submit_form() {
    document.getElementById('request_form').submit();
    }
    
    function myFunction() {
          document.getElementById("demo").style.display = "";
        }
    
        if ( document.addEventListener ) { 
        this.addEvent = function(elem, type, fn) {
            elem.addEventListener(type, fn, false);
            return fn;
        };
    
        this.removeEvent = function(elem, type, fn) {
            elem.removeEventListener(type, fn, false);
        };
    } else if ( document.attachEvent ) { 
        this.addEvent = function(elem, type, fn) {
            var bound = function() {
                return fn.apply(elem, arguments);
            };
            elem.attachEvent("on" + type, bound);
            return bound;
        };
    
        this.removeEvent = function (elem, type, fn) {
            elem.detachEvent("on" + type, fn);
        };
    }
    
    
    var date_input = document.getElementById('date');
    date_input.onchange = function(){
        document.getElementById("result").innerHTML = this.value; 
    }
    
    
    function selectTime(value) {
        document.getElementById("selected_time").value = value;
    
        var buttons = document.getElementsByClassName("time_selected");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove("selected");
        }
    
        var timeInput = document.getElementById("button_" + value);
        timeInput.classList.add("selected");
        document.getElementById("timeresult").innerHTML =value;
        
    }
    
        </script>


{% endblock %}