    .add_center{
        margin: 70px;
        margin-left: 22%;
        position: relative;
        width: 560px;
        height: 900px;
        background-color: rgba(255, 255, 255, 0.872);
        border:  2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px) ;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .add_center .form-box{
        width: 100%;
        padding: 40px;
    }
 